
img.galery {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;

    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:10px;
    
    display: block;
    
    width: 100%;
}

h2 {
	
}

