<link href="view_item/item.css" rel="stylesheet">

<div ng-controller="ViewItem">

    <div class="row">
        <div class="col-lg-12">
            <h1>{{item.title}} </h1> Date: {{item.date}} @ {{item.locations.join("; ")}}
            <hr/>
        </div>
    </div>

    <div class="row ">
        <div class="col-lg-12 ">
            <font size="+2px"><b>Tools </b></font> {{item.tools.join(", ")}}
        </div>
    </div>

    <div class="row ">
        <div class="col-lg-12 ">
            <font size="+2px"><b>Objectives </b></font> {{item.objectives.join(", ")}}
        </div>
    </div>

    <div style="margin-top:10px"></div>

    <div class="row">
        <div class="col-lg-12">{{item.desc}}</div>
    </div>

    <div style="margin-top:10px"></div>

    <div ng-repeat="i in range.step(item.images.length,3)">

        <div class="row">

            <div class="col-lg-4" ng-repeat="j in range.simple(i, i+2)">
                <img src="imgs/{{item.images[j]}}" ng-show="j<item.images.length" class="galery">
            </div>

        </div>

    </div>

    <div class="items-row-seperator"></div>


</div>
<!-- controller -->