<link href="view_category/category.css" rel="stylesheet">

<div ng-controller="ViewCategory">

    <div ng-repeat="item in config.items">


        <div class="row">
            <div class="col-lg-10">
                <h1>{{item.title}} </h1> Date: {{item.date}} @ {{item.locations.join("; ")}}

            </div>

            <div class="col-lg-2 align-text-bottom">
                <a class="align-text-bottom btn btn-primary " href="/#!/item/{{category_name}}/{{$index}} ">read more </a>
            </div>

            <div class="row">
                <div class="col-lg-12" style="width:1000px">
                    <hr/>
                </div>
            </div>
        </div>

        <div style="margin-top:10px"></div>




        <div class="row ">
            <div class="col-lg-12 ">
                <font size="+2px"><b>Tools </b></font> {{item.tools.join(", ")}}
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-12 ">
                <font size="+2px"><b>Objectives </b></font> {{item.objectives.join(", ")}}
            </div>
        </div>


        <div ng-repeat="i in range.step(item.thumbnails.length,3) ">

            <div class="row ">

                <div class="col-lg-4 " ng-repeat="j in range.simple(i, i+2) ">
                    <img src="imgs/{{item.thumbnails[j]}} " ng-show="j<item.thumbnails.length " class="galery ">
                </div>

            </div>

        </div>

        <div class="items-row-seperator "></div>


    </div>
    <!-- items  -->

</div>
<!-- controller -->